@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  background: url(/images/background.png) no-repeat fixed center;
  background-size: cover;
  color: #fff;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.img-fluid, .footer img {
  max-width: 100%;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.custom-card {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 5px;
  margin-bottom: 2rem; /* Adjust the value as needed */
}

.custom-card h1, .custom-card h2 {
  font-weight: bold;
}

.custom-card h2, .custom-card img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.custom-card p {
  text-align: justify;
}

.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .row {
  width: 100%;
  display: flex;
  justify-content: space-around; /* Adjust this to 'space-between' or 'space-around' based on your preference */
  align-items: center;
  flex-wrap: wrap;
}

.footer img {
  max-width: 40%; /* Adjust based on your preference */
  height: auto;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  padding: 0.5rem 0; /* Provide some padding for the list */
}

@media (max-width: 768px) {
  .custom-card h1, .custom-card h2, .footer ul li {
    font-size: smaller;
  }

  .custom-card p, .footer {
    font-size: small;
  }
  
  .footer img {
    max-width: 60%; /* Increase size for smaller screens */
  }

  .footer .row, .footer .container {
    flex-direction: column;
  }
}
